@font-face {
    font-family: "iconfont"; /* Project id 2630291 */
    src: url('//at.alicdn.com/t/font_2630291_f1s6d1gi5hu.woff2?t=1632559176662') format('woff2'),
         url('//at.alicdn.com/t/font_2630291_f1s6d1gi5hu.woff?t=1632559176662') format('woff'),
         url('//at.alicdn.com/t/font_2630291_f1s6d1gi5hu.ttf?t=1632559176662') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-biaoqian:before {
    content: "\e6c1";
  }
  
  .icon-fenleix:before {
    content: "\e60a";
  }
  
  .icon-qita:before {
    content: "\e60c";
  }
  
  .icon-lianjie:before {
    content: "\e651";
  }
  
  .icon-guanyuwomen:before {
    content: "\e605";
  }
  
  .icon-xiangce:before {
    content: "\e624";
  }
  
  .icon-yinle:before {
    content: "\e703";
  }
  
  .icon-sousuo:before {
    content: "\e614";
  }
  
  .icon-woaikafei:before {
    content: "\e63e";
  }
  
  .icon-20like:before {
    content: "\e62c";
  }
  
  .icon-yingshi:before {
    content: "\ef45";
  }
  
  .icon-wenzhang:before {
    content: "\ec3b";
  }
  
  .icon-shijian:before {
    content: "\e742";
  }
  
  .icon-shijiandian:before {
    content: "\e6ee";
  }
  
  .icon-youxiji:before {
    content: "\e650";
  }
  
  .icon-yule:before {
    content: "\e612";
  }
  
  .icon-meishi:before {
    content: "\e678";
  }
  
  .icon-wowowo:before {
    content: "\e631";
  }
  
  .icon-xihuan-copy:before {
    content: "\e602";
  }
  