@font-face {
  font-family: "iconfont"; /* Project id 2834402 */
  src: url('//at.alicdn.com/t/font_2834402_eepp9rvs2t8.woff2?t=1654157066457') format('woff2'),
  url('//at.alicdn.com/t/font_2834402_eepp9rvs2t8.woff?t=1654157066457') format('woff'),
  url('//at.alicdn.com/t/font_2834402_eepp9rvs2t8.ttf?t=1654157066457') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lianjie1:before {
  content: "\e6c9";
}

.icon-shouye1:before {
  content: "\e610";
}

.icon-shouye2:before {
  content: "\e8c6";
}

.icon-github:before {
  content: "\e7b2";
}

.icon-lianjie:before {
  content: "\e600";
}

.icon-shouye:before {
  content: "\e613";
}

.icon-wodeb:before {
  content: "\e6de";
}

.icon-wenzhang:before {
  content: "\e652";
}

.icon-zashua:before {
  content: "\e6d6";
}

.icon-xinyuan:before {
  content: "\e675";
}

.icon-yule:before {
  content: "\e608";
}

.icon-yinle:before {
  content: "\e601";
}

.icon-fenlei:before {
  content: "\e699";
}

.icon-biaoqian:before {
  content: "\e6ba";
}

.icon-haoqi:before {
  content: "\e6f7";
}

.icon-shijian:before {
  content: "\e8b8";
}

.icon-wode-woshituanchang:before {
  content: "\e63d";
}

.icon-tuku:before {
  content: "\e639";
}

.icon-yingshi:before {
  content: "\ec2f";
}
