@font-face {
  font-family: "iconfont"; /* Project id 2834402 */
  src: url('//at.alicdn.com/t/font_2834402_gnqunkf9lc7.woff2?t=1632581420265') format('woff2'),
       url('//at.alicdn.com/t/font_2834402_gnqunkf9lc7.woff?t=1632581420265') format('woff'),
       url('//at.alicdn.com/t/font_2834402_gnqunkf9lc7.ttf?t=1632581420265') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lianjie:before {
  content: "\e600";
}

.icon-shouye:before {
  content: "\e613";
}

.icon-wodeb:before {
  content: "\e6de";
}

.icon-wenzhang:before {
  content: "\e652";
}

.icon-zashua:before {
  content: "\e6d6";
}

.icon-xinyuan:before {
  content: "\e675";
}

.icon-yule:before {
  content: "\e608";
}

.icon-yinle:before {
  content: "\e601";
}

.icon-fenlei:before {
  content: "\e699";
}

.icon-biaoqian:before {
  content: "\e6ba";
}

.icon-haoqi:before {
  content: "\e6f7";
}

.icon-shijian:before {
  content: "\e8b8";
}

.icon-wode-woshituanchang:before {
  content: "\e63d";
}

.icon-tuku:before {
  content: "\e639";
}

.icon-yingshi:before {
  content: "\ec2f";
}
